:root {
    --clr-P: #282A36;
    --clr-Q: #44475A;
    --clr-R: #6272A4;
    --clr-S: #BD93F9;
    --clr-T: #F8F8F2;
    --clr-U: #FF5555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, input, button, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #282a36fb;
    color: var(--clr-S);
}

.header {
    background-color: var(--clr-P);   
    display: flex ;
    align-items: center;
    min-height: 7.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.651);
}    

.logo {
    color: var(--clr-S);
    margin-right: 15px;
    filter: drop-shadow(0px 0px 5px black);
}   

.logo-2 {
    font-family: cursive;
    font-size: 1.5rem;
    padding:  1rem 0rem 0rem 2rem;
}

.logo-1 {
    font-family: cursive;
    font-size: 3rem;
    padding:  0rem 0rem 1rem 2rem;
}

.logo:hover {
    visibility: hidden;
}

.mensaje {
    font-family: cursive;
    font-size: 2.5rem;
    color: var(--clr-S);
    padding: 2rem 0rem 2.2rem 1rem;
    filter: drop-shadow(0px 0px 5px black);
}

.header:hover .mensaje {
    display: block;
}

.buscar {
    top: 3rem;
    right: 1rem;
    padding: 0.8rem;
    width: 30vw;
    color: rgba(255, 255, 255, 0.829);
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    background-color: var(--clr-Q);
    outline: none;
    border: none;
    margin-right: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
}

.buscar:hover {
    transition: 0.5s;
    background-color: #BD93F9;
}

.buscar::placeholder {
    color: rgba(255, 255, 255, 0.829);
    font-weight: bold;
}

@media (min-width: 600px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

.menu-categorias {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.titulo-categorias {
    font-size: 2.3rem;
    font-weight: bold;
    color: var(--clr-S);
    padding:  1rem 0rem 2.6rem 0rem;
}

.categorias {
    padding: 2rem 0rem 0rem 2rem;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.boton-menu {
    margin: 0.3rem;
    border: 0px; 
    height: 40px;
    width: 170px;
    color: rgba(255, 255, 255, 0.829);
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--clr-Q);
    cursor: pointer;
    font-size: 16px;
    text-align: left; 
    padding-left: 15px;
}

.boton-menu:hover {
    transition: 0.5s;
    color: #282A36;
    background-color: var(--clr-S);
}

.boton-menu-oficina {
    margin: 0.3rem 0rem 4rem 0.1rem;
    border: 0px; 
    height: 40px;
    width: 170px;
    color: rgba(255, 255, 255, 0.829);
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--clr-Q);
    cursor: pointer;
    font-size: 16px;
    text-align: left; 
    padding-left: 15px;
}

.boton-menu-oficina:hover {
    transition: 0.5s;
    color: #282A36;
    background-color: var(--clr-S);
}

.boton-menu.active {
    background-color: var(--clr-S);
    color: var(--clr-P);
}

.boton-carrito-1.active {
    background-color: var(--clr-S);
    color: var(--clr-P);
}

footer {
    color: var(--clr-R);
    font-weight: bold;
    padding: 4rem 0rem 0rem 0rem;
}

.boton-carrito {
    margin: 4rem 0rem 0rem 0.1rem;
    border: 0px; 
    color: rgba(255, 255, 255, 0.829);
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--clr-Q);
    cursor: pointer;
    font-size: 16px;
    text-align: left; 
    padding: 12px 70px 12px 15px;
}

.boton-carrito:hover {
    transition: 0.5s;
    color: #282A36;
    background-color: var(--clr-S);
}

.boton-carrito-1 {
    margin: 4rem 0rem 0rem 0.1rem;
    border: 0px; 
    position: absolute;
    bottom: 46%;
    color: rgba(255, 255, 255, 0.829);
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--clr-Q);
    cursor: pointer;
    font-size: 16px;
    text-align: left; 
    padding: 12px 85px 12px 15px;
}

.boton-carrito-1:hover {
    transition: 0.5s;
    color: #282A36;
    background-color: var(--clr-S);
}


.boton-tienda {
    margin: 4rem 0rem 0rem 0.1rem;
    border: 0px; 
    position: absolute;
    bottom: 63%;
    color: rgba(255, 255, 255, 0.829);
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--clr-Q);
    cursor: pointer;
    font-size: 16px;
    text-align: left; 
    padding: 12px 20px 12px 15px;
}

.boton-tienda:hover {
    transition: 0.5s;
    color: #282A36;
    background-color: var(--clr-S);
}

.footer {
    color: var(--clr-R);
    font-weight: bold;
    padding: 4rem 0rem 0rem 0rem;
    position: absolute;
    bottom: 20%;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.qlq {
    background-color: var(--clr-Q);
    border-radius: 10px 0px 0px 0px;
    padding: 3rem 0.6rem 3rem 2.2rem;
} 

.titulo-principal {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.3rem 0rem 2rem 0rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.producto-imagen { 
    flex-grow: 1; 
    flex-basis: 200; 
    width: 210px; 
    height: 200px; 
    margin: 0rem 2rem 0rem 0rem; 
    border-radius: 10px;
    /* filter: grayscale(100%); para mas epica */
}
/* 
.producto-imagen:hover {
    transition: 0.5s;
    filter: grayscale(0%);
}

version para adaptar a la pantalla
.qlq {
    background-color: var(--clr-Q);
    border-radius: 7px;
    padding: 3rem;
}

.titulo-principal {
    font-size: 1.7rem;
    font-weight: bold;
}

.contenedor-productos {
    display: flex; 
    flex-wrap: wrap; 
}

.producto {
    flex-grow: 1; 
    flex-basis: 200; 
    width: 200px; 
    height: 200px; 
    margin: 1rem;
}

.producto-imagen {
    width: 200px; 
    height: 200px; 
} */

.producto {
    border: 0;
    border-radius: 10px;
    background-color: var(--clr-P);
    align-items: center;
    margin: 0rem 1.5rem 1.5rem 0rem;
    padding: 15px;
    width: 240px;
    position: relative;
}

.producto:hover .boton-agregar {
    display: block;
}

.producto:hover {
    transition: 0.4s;
    color: var(--clr-S);
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.5));
}

.boton-agregar {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #BD93F9;
    border-radius: 50%;
    border: none;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: var(--clr-P);
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
    transition: 0.1s;
}

.boton-agregar:hover {
    border: 2px solid var(--clr-S);
    color: var(--clr-S);    
    background-color: var(--clr-P);
}

.producto-detalles h3 {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 0rem 0.5rem 0rem;
}

.producto-detalles p {
    font-size: 1rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
}






.carrito-qlq {
    background-color: var(--clr-Q);
    border-radius: 10px 0px 0px 0px;
    padding: 3rem 2rem 3rem 2.2rem;
} 

.contenedor-carrito {
    display: flex;
    flex-direction: column;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-S);
    font-size: 1rem;
    font-weight: bold;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-P);
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.5));
    padding: 0.6rem;
    border-radius: 1rem;
    margin: 0.5rem 0rem;
}

.carrito-producto-imagen {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
}

.title {
    font-size: 1rem;
}

.boton-eliminar {
    border: none;
    background-color: transparent;
    color: var(--clr-U);
    font-size: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0rem;
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.5));
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-P);
    padding: 0.9rem;
    border-radius: 15px;
    color: var(--clr-S);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.carrito-acciones-vaciar:hover {
    transition: 0.5s;
    background-color: var(--clr-S);
    color: var(--clr-P);
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-P);
    padding: 0.9rem 2.2rem 0.9rem 0.9rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--clr-S);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.carrito-acciones-comprar:hover {
    transition: 0.5s;
    background-color: var(--clr-S);
    color: var(--clr-P);
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    border: 0;
    background-color: var(--clr-S);
    padding: 0.9rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: var(--clr-P);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    gap: 0.5rem;
}

.disabled {
    display: none;
}