:root {
    --clr-P: #282A36;
    --clr-Q: #44475A;
    --clr-R: #6272A4;
    --clr-S: #BD93F9;
    --clr-T: #F8F8F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, input, button, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #282a36fb;
    color: var(--clr-S);
}

.header {
    background-color: var(--clr-P);   
}    

.logo-2 {
    font-family: cursive;
    font-size: 1.5rem;
    color: var(--clr-S);
    padding:  1rem 0rem 0rem 1rem;
}

.logo {
    font-family: cursive;
    font-size: 3rem;
    color: var(--clr-S);
    padding:  0rem 0rem 1rem 1rem;
}

.logo:hover, .logo-2:hover {
    visibility: hidden;
}

.mensaje {
    font-family: cursive;
    font-size: 2.5rem;
    color: var(--clr-S);
    padding: 2rem 0rem 2.2rem 1rem;
}

.header:hover .mensaje {
    display: block;
}

.buscar {
    position: absolute;
    top: 3rem;
    right: 1rem;
    padding: 0.8rem;
    width: 30vw;
    color: rgba(255, 255, 255, 0.829);
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    background-color: var(--clr-Q);
    outline: none;
    border: none;
}

.buscar:hover {
    transition: 0.5s;
    background-color: #BD93F9;
}

.buscar::placeholder {
    color: rgba(255, 255, 255, 0.829);
    font-weight: bold;
}

.menu-categorias {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.titulo-categorias {
    font-size: 2.3rem;
    font-weight: bold;
    color: var(--clr-S);
    padding:  1rem 0rem 4rem 0rem;
}

.categorias {
    padding: 2rem;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.boton-menu {
    margin: 0.3rem;
    border: 0px; 
    height: 40px;
    width: 170px;
    color: rgba(255, 255, 255, 0.829);
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--clr-Q);
    cursor: pointer;
    font-size: 16px;
    text-align: left; 
    padding-left: 15px;
}

.boton-menu:hover {
    transition: 0.5s;
    background-color: var(--clr-S);
}

footer {
    color: var(--clr-R);
    font-weight: bold;
    padding: 4rem 0rem 0rem 0rem;
}

.boton-carrito {
    margin: 0.3rem;
    border: 0px; 
    height: 40px;
    width: 170px;
    color: rgba(255, 255, 255, 0.829);
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--clr-Q);
    cursor: pointer;
    font-size: 16px;
    text-align: left; 
    padding-left: 15px;
}

.qlq {
    background-color: var(--clr-Q);
    border-radius: 7px;
    padding: 3rem;
}

.titulo-principal {
    font-size: 1.7rem;
    font-weight: bold;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.producto-imagen { 
    flex-grow: 1; 
    flex-basis: 200; 
    width: 200px; 
    height: 200px; 
    margin: 1rem; 
} 

/*
version para adaptar a la pantalla
.qlq {
    background-color: var(--clr-Q);
    border-radius: 7px;
    padding: 3rem;
}

.titulo-principal {
    font-size: 1.7rem;
    font-weight: bold;
}

.contenedor-productos {
    display: flex; 
    flex-wrap: wrap; 
}

.producto {
    flex-grow: 1; 
    flex-basis: 200; 
    width: 200px; 
    height: 200px; 
    margin: 1rem;
}

.producto-imagen {
    width: 200px; 
    height: 200px; 
} */